:root {
  --main-background-color: rgb(203, 159, 159);
  --main-text-color: rgb(34, 34, 59);
}
#root {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  color: var(--main-text-color);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

body.rainy {
  margin: 0;
  background-image: url("./assets/images/aesthetic-rain.jpg");
  background-position: center center;
}

body.sunny {
  margin: 0;
  background-image: url("./assets/images/beautiful-beach-aerial-view-sea.jpg");
}
